/* ■■■ ページ全体の指定 ■■■*/
body {
  margin: 0px;
  font-family: "Yu Gothic UI", "Meiryo UI", sans-serif;
}


/* ■■■ ヘッダー ■■■ */
.header_all {
  width: 100%;
  height: 100%;
}

.header_contents {
  width: 90%;
  margin: 0px auto;
  /* border-bottom: 1px solid #ece0e0; */

  /* ヘッダレフトとヘッダライトを横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_left {
  /* ロゴと説明文を横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_left_logo {
  margin-right: 30px;
}

.header_left_title {
  color: #7b7070;
  font-size: 14px;
}

.header_right {
  margin-left: auto;

  /* リンクを横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_right_login, .header_right_sitemap, .header_right_help {
  color: #7b7070;
  font-size: 14px;
  margin: 0px 10px;
}


/* ■■■ メニュー ■■■ */

/* メニュー（タイトル） */
.menu_all {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.menu_contents {
  width: 90%;
  margin: 0px auto;

  /* メニューを横並びにする + 上下中央揃え */
  /* display: flex;
     align-items: center; */
}

/* .menu_main1, .menu_main2, .menu_main3, .menu_main4 {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ece0e0;
  font-size: 14px;
} 

.menu_main1 {
  border-left: 1px solid #ece0e0;
} */

.menu_dropdown {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.menu_dropdown, .menu_sub {
  list-style-type: none;
}

.menu_title {
  width: 25%;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #ece0e0;
}

.menu_dropdown a {
  text-align: center;
}

.menu_sub {

  margin: 0px;
  padding: 0px;
}

