/* ■■■ ページ全体の指定 ■■■*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "Yu Gothic UI", "Meiryo UI", sans-serif;
  max-width: 1080px;
  margin: 0px auto;
}


/* ■■■ ヘッダー ■■■ */
.header_all {
  width: 100%;
  height: 100%;
}

.header_contents {
  width: 90%;
  margin: 0px auto;
  /* border-bottom: 1px solid #ece0e0; */

  /* ヘッダレフトとヘッダライトを横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_left {
  /* ロゴと説明文を横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_left_logo {
  margin-right: 30px;
}

.header_left_title {
  color: #7b7070;
  font-size: 14px;
}

.header_right {
  margin-left: auto;

  /* リンクを横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.header_right_login, .header_right_sitemap, .header_right_help {
  color: #7b7070;
  font-size: 14px;
  margin: 0px 10px;
}


/* ■■■ メニュー ■■■ */

/* メニュー（タイトル） */
.menu_all {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.menu_contents {
  width: 90%;
  margin: 0px auto;

  /* メニューを横並びにする + 上下中央揃え */
  display: flex;
  align-items: center;
}

.menu_main1, .menu_main2, .menu_main3, .menu_main4 {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ece0e0;
  border-bottom: 1px solid #ece0e0;
  font-size: 14px;
  cursor: pointer;
} 

.menu_main1 {
  border-left: 1px solid #ece0e0;
}

/* メニュー（サブ） */
.submenu_contents {
  width: 90%;
  margin: 0px auto;

  /* メニューを横並びにする（高さを揃えない） */
  display: flex;
  align-items: flex-start;
}

.submenu_main1, .submenu_main2, .submenu_main3, .submenu_main4 {
  width: 25%;
  background-color: white;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.submenu_list1, .submenu_list2, .submenu_list3, .submenu_list4 {
  height: 46.4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ece0e0;
}


/* ■■■ センター ■■■ */
.center_all {
  width: 100%;
  margin-top: 30px;
}

.center_contents {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  top: -100px;
  text-align: center;
}

/* 画像の切り替え（jsと連携）*/
#center_image {
  width: 75%;
  height: 75%;
  animation: imgfade 4s infinite;
  opacity: 0;
}

@keyframes imgfade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* ■■■ センター下文言 ■■■ */
.center_word {
  width: 100%;
  margin-top: -50px;
}

.center_word_contents {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.search_button {
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(90, 118, 148);
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}


/* ■■■ 検索フォーム ■■■ */
.search_all {
  width: 100%;
  margin-top: 50px;
}

.search_contents {
  width: 90%;
  margin: 0px auto;
}

.search_pulldown_area {
  width: 150px;
  padding: 15px;
  font-size: 15px;
  border: 1px solid rgba(112, 133, 162, 0.401);
  border-radius: 30px;
}

.search_pulldown_ymd {
  width: 100px;
  padding: 15px;
  font-size: 15px;
  border: 1px solid rgba(112, 133, 162, 0.401);
  border-radius: 30px;
}

.search_condition table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 25px;
}

.search_condition td {
  padding: 10px;
  border-bottom: 0.5px dashed rgba(112, 133, 162, 0.401);
}

.search_condition select {
  font-size: 14px;
}

.conditon_1 {
  height: 55px;
  width: 20%;
  color:rgba(6, 6, 6, 0.401);
  font-size: 14px;
  font-weight: bold;
  border-left: 5px solid rgba(112, 133, 162, 0.401);
}

.conditon_2 {
  width: 10%;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.conditon_3 {
  width: 70%;
  font-size: 14px;
}

/* チェックボックスのデザインを変更 */
.search_input_position {
  padding-left: 28px;
  margin-right: 28px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.search_input_position input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: solid 2px #d4dae2;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkmark:after { /* 疑似要素（チェックマーク） */
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  opacity: 0;
}

.search_input_position input:checked + .checkmark {
  background-color: #2e80ff; /* チェック時の色 */
  border-color: #2e80ff; /* チェック時の色 */
}

.search_input_position input:checked + .checkmark:after {
  opacity: 1; /* 透明を解除 */
}

/* ラジオボタンのデザインを変更 */
.search_input_gender {
  padding-left: 28px;
  margin-right: 28px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.search_input_gender input {
  display: none;
}

.checkmark_r {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: solid 2px #d4dae2;
  border-radius: 15px;
  box-sizing: border-box;
}

.checkmark_r:after { /* 疑似要素（チェックマーク） */
  content: "";
  position: absolute;
  top: 3.5px;
  left: 3.75px;
  height: 6px;
  width: 6px;
  border: solid #FFFFFF;
  border-radius: 15px;
  background-color: #FFFFFF;
  opacity: 0;
}

.search_input_gender input:checked + .checkmark_r {
  background-color: #2e80ff; /* チェック時の色 */
  border-color: #2e80ff; /* チェック時の色 */
}

.search_input_gender input:checked + .checkmark_r:after {
  opacity: 1; /* 透明を解除 */
}


/* ■■■ 検索フォーム下文言 ■■■ */
.center_word_2 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 70px; /* 後で消す */
}

.center_word_contents_2 {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}


/* ■■■ フッター ■■■ */
.footer_all {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}

.footer_contents {
  width: 90%;
  margin: 0px auto;
  border-top: 1px solid rgba(112, 133, 162, 0.401);
}

.footer_link {
  display: flex;
  justify-content: center;
}

.footer_text {
  margin: 10px 20px;
}